In [26]:
%matplotlib widget
import caesar
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
import scipy

In [2]:
obj = caesar.load('./data/caesar_296.hdf5')

yt : [INFO     ] 2021-08-16 16:46:59,308 Opening ./data/caesar_296.hdf5
yt : [INFO     ] 2021-08-16 16:46:59,532 Found 54135 halos
yt : [INFO     ] 2021-08-16 16:46:59,578 Found 6480 galaxies

In [3]:
#obj.galaxies[1].masses

In [4]:
orig_index = np.arange(0,len(obj.galaxies))
sfr = np.array([gal.sfr for gal in obj.galaxies])
stellar_masses = np.array([gal.masses['stellar'] for gal in obj.galaxies])
bh_masses = np.array([gal.masses['bh'] for gal in obj.galaxies])
gas_masses = np.array([gal.masses['gas'] for gal in obj.galaxies])
metallicity = np.array([gal.metallicities['stellar'] for gal in obj.galaxies])                    
temp = obj.galaxies[1].temperatures['mass_weighted']
radius = np.array([gal.radii['stellar_r20'] for gal in obj.galaxies])

In [5]:
bh_masses[bh_masses == 0] = 1e-99
stellar_masses[stellar_masses == 0] = 1e-99
gas_masses[gas_masses == 0] = 1e-99
metallicity[metallicity == 0] = 1e-99

In [6]:
#obj.galaxies[1].virial_quantities

In [7]:
#obj.galaxies[1].radii

In [8]:
gal_data = pd.DataFrame({'ID': orig_index, 'bh_masses': np.log10(bh_masses),\
                         'stellar_masses': np.log10(stellar_masses), 'sfr': sfr, 'gas_masses' : np.log10(gas_masses),\
                         'metallicity' : np.log10(metallicity), 'radius' : radius})

In [9]:
gal_data

        ID  bh_masses  stellar_masses  sfr  gas_masses  metallicity     radius
0        0  10.290369       12.025144  0.0       -99.0    -1.709673  12.585268
1        1   9.681071       11.917035  0.0       -99.0    -1.686568   7.108331
2        2   9.890138       11.900508  0.0       -99.0    -1.713443   8.093110
3        3   9.811176       11.867450  0.0       -99.0    -1.702289   7.462501
4        4   9.830744       11.821318  0.0       -99.0    -1.691337   7.025398
...    ...        ...             ...  ...         ...          ...        ...
6475  6475 -99.000000        8.431755  0.0       -99.0    -2.948695   2.281374
6476  6476 -99.000000        8.423798  0.0       -99.0    -2.864811   2.289696
6477  6477 -99.000000        8.422195  0.0       -99.0    -3.026400   1.733394
6478  6478 -99.000000        8.418205  0.0       -99.0    -2.740298   2.117305
6479  6479 -99.000000        8.418110  0.0       -99.0    -2.823231   1.183213

[6480 rows x 7 columns]

In [11]:
pd.plotting.scatter_matrix(gal_data, alpha=0.2, figsize=(10, 10), diagonal="kde");

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [25]:
ifig=1;plt.close(ifig);plt.figure(ifig) 
plt.scatter(gal_data.stellar_masses, gal_data.sfr, s=2, alpha=0.5);
plt.xlabel('log stellar mass')
plt.ylabel('sfr')
plt.ylim(-0.1,4)

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

(-0.1, 4.0)

In [51]:
bin_means, bin_edges, num = scipy.stats.binned_statistic(gal_data.stellar_masses, gal_data.sfr, statistic='mean', bins=20, range=None)

In [62]:
central_pt = center = (bin_edges[:-1] + bin_edges[1:]) / 2

In [63]:
ifig=2;plt.close(ifig);plt.figure(ifig) 
plt.step(central_pt,bin_means, color='k')

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …