In [2]:
import numpy as np
from datetime import datetime

# Given two dates in the provided format, create a function that calculates the difference between two dates in seconds

In [18]:
seconds_per_day = 86400

def time_delta(t1, t2):
    t1 = datetime.strptime(t1, '%a %d %b %Y %H:%M:%S %z')
    t2 = datetime.strptime(t2, '%a %d %b %Y %H:%M:%S %z')
    print(t1,t2)
    dt = str((t1-t2).days*seconds_per_day + (t1-t2).seconds )
    return('There is a difference of {dt}s between the two dates provided'.format(dt=dt))

In [19]:
t1 = 'Sat 02 May 2015 19:54:36 +0530'
t2 = 'Fri 01 May 2015 13:54:36 -0000'
time_delta(t1,t2)

2015-05-02 19:54:36+05:30 2015-05-01 13:54:36+00:00

'There is a difference of 88200s between the two dates provided'

In [20]:
t1 = 'Sun 10 May 2015 13:54:36 -0700'
t2 = 'Sun 10 May 2015 13:54:36 -0000'
time_delta(t1,t2)

2015-05-10 13:54:36-07:00 2015-05-10 13:54:36+00:00

'There is a difference of 25200s between the two dates provided'

# Find the second to highest number in a list.

In [143]:
def runner_up(scores): 
    scores= list(scores)
    for i in range(len(scores)):  #returns a sorted list (by hand for practice)
        for j in range(i+1,len(scores)):
            if scores[i] > scores[j]:
                scores[i],scores[j] = scores[j],scores[i]
                
                
    highest = scores[-1]
    second_highest = float('inf')
    i = len(scores)-1
    
    while second_highest >= highest:
        second_highest = scores[i]
        i = i - 1

       
    return(second_highest)

In [144]:
def runner_up_numpy(scores):
    second_place = np.sort(np.unique(scores))[-2]
    return(second_place)

In [145]:
Test_list1 = [1,4,2,2,7,55,3]
Test_list2 = [3,6,9,27,50,12]
Test_list3 = [3,6,6,7,7,9,50,50,27,50,12]

In [150]:
runner_up(Test_list1),runner_up_numpy(Test_list1)

(7, 7)

In [149]:
runner_up_numpy(Test_list3),runner_up(Test_list3)

(27, 27)

# FizzBuzz

In [157]:
for i in range(1,20):
    if i % 3 ==0 and i % 5 == 0:
        print(i, 'FizzBuzz')
    elif i % 3 == 0:
        print(i, 'Fizz')
    elif i % 5 == 0:
        print(i,'Buzz')
    else:
        print(i)

1
2
3 Fizz
4
5 Buzz
6 Fizz
7
8
9 Fizz
10 Buzz
11
12 Fizz
13
14
15 FizzBuzz
16
17
18 Fizz
19

# Calculate the factorial of a number

In [208]:
def factorial(n):
    numbers = np.linspace(1,n,n)
    
    factorial = 1
    for i in range(1,n+1):
        print(i)
        factorial =  factorial * i
    return(factorial)

In [210]:
factorial(10)

1
2
3
4
5
6
7
8
9
10

3628800

# Compute the mean of number in a list without np

In [174]:
def mymean(arr):
    total = 0
    for i in range(len(arr)):
        total = total + arr[i]

    mean = total/len(arr)
    return(mean)

In [178]:
mymean([1,4,5])

3.3333333333333335

# Calculate the standard deviation of elements in a list

In [270]:
def var_std(lst):
    mu = mymean(lst)
    arg = []
    sum_arg = 0
    for i in range(len(lst)):
        arg.append((lst[i]-mu)**2)
        print(arg[i])
        sum_arg += arg[i]
    print(sum_arg)
       
    var = sum_arg/(len(lst)-1)
    std = (var)**0.5
    
        
    return(var,std)

In [272]:
var_std([1,2,3,4])

2.25
0.25
0.25
2.25
5.0

(1.6666666666666667, 1.2909944487358056)

In [275]:
funct = lambda x : x**2


funct(2)

4